* {
    margin: 0;
}

body {
    background-color: #FAFAFA;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/**************************************************************************************/

div.content {
    text-align: center;
    margin-top: 5vh;
}

div.content img {
    width: 28vw;
    display: inline-block;
    margin-right: 2vw;
}

div.box {
    display: inline-block;
    position: relative;
    width: 28vw;
    top: -32vh;
}

div.information {
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 1px;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    top: 18vh;
    height: 45vh;
}

div.information img {
    width: 12vw;
    position: relative;
    top: 4vh;
}

div.identity {
    position: relative;
    top: 7vh;
}

div.identity form input {
    display: block;
    margin: 8px auto;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FAFAFA;
    border: 1px solid #e6dbdb;
    border-radius: 5px;
    width: 20vw;
    height: 4vh;
    overflow: hidden;
    padding: 9px 0px 7px 8px;
}

div.identity form input:focus {
    outline: none;
}

div.identity button {
    margin: 10px auto;
    text-align: center;
    color: #ffffff;
    background-color: #0095F6;
    border: 1px solid #0095F6;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    width: 20vw;
    height: 5vh;
}

div.identity button:hover {
    cursor: pointer;
}

#forgot {
    position: relative;
    top: 8vh;
    color: #2f4046;
    font-size: 14px;
    line-height: 16px;
}

div.help {
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 1px;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    top: 20vh;
    height: 61px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #262622;
}

div.help a {
    color: #0095f6;
}

div.label {
    position: relative;
    top: 23vh;
    color: #262626;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    line-height: 16px;
}

div.app ul li {
    display: inline-block;
}

div.app img {
    width: 136px;
    height: 40px;
    position: relative;
    top: 26vh;
}

/********************************* footer ******************************************/

div.footer {
    text-align: center;
    margin-top: 10vh;
    width: 80vw;
    height: 25vh;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

ul.meta li {
    display: inline-block;
    color: #8E8E8E;
    font-size: 12px;
    margin: 0px 8px;
}

ul.meta a , #last {
    color: #8e8e8e;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

ul.meta a:hover {
    color: #0095f6;
}

ul.meta li select {
    cursor: pointer;
    height: 100%;
    width: 40%;
    background-color: #FAFAFA;
    border: 0px;
    color: #8E8E8E;
}

ul.meta li select:focus {
    border: 0px;
}